<!doctype html>
<html lang="en">
    <link rel="stylesheet" media="screen" href="{{  url_for('static', filename="bootstrap.min.css")  }}"

    <head>
        <!-- Required metadata tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Load Test App">

        <title>Load Test</title>
    </head>

    <body class - "body">
    <body style="margin-left: 2.5%">
        <h1>Load Test SageMaker Endpoint</h1>
    </body>